html {
  background-color: #212529;
  font-family : nanumsquare !important;
}
textarea:focus {
  outline: none;
}
button:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
input:focus {
  outline: none;
}

.App {
  /* text-align: center; */
  font-family : nanumsquare !important;
  background: #212529;
  color : white;
  min-height: calc(100vh - 140px);
  height : fit-content;
  position: relative;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-box {
  position: relative;
  max-width: 1200px;
  margin : auto;
}
.boxoffice {
  position : relative;
  width : 100%;
  height : 37vh;
}
.boxoffice>div:first-child {
  width : calc(100% - 160px);
  margin : auto;
  overflow : hidden;
}

.boxoffice-view {
  position : relative;
  width : 100%;
  height : 330px;
}
.trandlate50 {
  transform : translateX(100%);
}
.translate-50 {
  transform : translateX(-100%);
}

.boxoffice-cardset {
  display : block;
  margin : 0;
  width: 200%;
  height : 100%;
  float : left;
  overflow : hidden;
  position: relative;
  z-index : 10;
}


.boxoffice-card {
  display : block;
  padding : 25px 10px;
  width : 10%;
  height : 100%;
  background: none;
  float : left;
  border : none;
  position : relative;
}

.boxoffice-card * {
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boxoffice-bg {
  width : calc(100% - 20px);
  height : calc(100% - 50px);
  color : white;
  background : rgba(80, 80, 80, 0.671);
  position : absolute;
  border-radius: 10px;
  padding-top : 60px;
  top : 25px;
  left : 10px;
  opacity: 0;
}

.boxoffice-bg:hover{
  opacity : 1;
}

.boxoffice-title {
  font-weight : 600;
  width : 100%;
  height : 25px;
}
.boxoffice-subtitle {
  font-size : 10px;
  padding-top : 5px;
}
.boxoffice-img {
  width : 100%;
  height : 100%;
  border-radius: 10px;
}
.boxoffice-agebadge {
  position : absolute;
  width : 35px;
  height : 35px;
  color : white;
  font-weight : 700;
  font-size : 18px;
  padding-top : 6px;
  padding-left : 6px;
  margin : 0;
  border-radius: 50px;
  top : 30px;
  right : 15px;
  z-index : 15;

}
.boxoffice-rank {
  font-family: BMDOHYEON;
  position: absolute;
  width: 35px;
  height: 35px;
  color: rgb(255, 255, 255);
  background: rgba(117,117,117,0.58139005602240894);
  font-weight: 600;
  font-size: 22px;
  top: 30px;
  left: 15px;
  text-align: center;
  border-radius: 10px;
  z-index : 15;
}

.boxoffice-content {
  padding-top : 3px;
  margin : 0;
  font-size : 13px;
}

.boxoffice-btn {
  width : 100%;
  height : 37vh;
  padding : 25px 0;
  position: absolute;
  top : 0;
  left : 0;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxoffice-btn button {
  width : 80px;
  height : 98%;
  color : white;
  font-size : 35px;
  font-weight : 700;
}

.boxoffice-btn .before:hover{
  color : white;
  background: rgba(15, 17, 19, 0.514);
}

.boxoffice-btn .next:hover{
  color : white;
  background: rgba(15, 17, 19, 0.514);
}

.boxoffice-btn .before{
  left: -100px;
}
.boxoffice-btn .next{
  right: -100px;
}

.boxoffice-btn img {
  height : 70px;
  width : 70px;
  padding : 10px;
}

#dropdown-basic-button {
 margin-top : 10px;
 
}

.age-all {
  background-color: rgb(255, 217, 0);
  font-size: 16px;
}
.age-12 {
  background : rgb(0, 177, 0);
}
.age-15 {
  background : rgb(0, 126, 245);
}
.age-19 {
  background : rgb(221, 0, 0);
}

.boxoffice-rate {
  font-size : 15px;
  font-weight : 700;
}

.boxoffice-rate span {
  font-size : 24px;
  color : red;
}

.select-box {
  display : flex;
  flex-direction: row;
}

.select-box>div {
  width : 50%;
  height : 200px;
  border-width : 1px 0.5px 1px 1px;
  border-color : rgb(65, 65, 65) ;
  border-style: solid ;
  text-align :center;
  transition: all 0.3s;
  position: relative;
  overflow :hidden;
}

.select-box>img{
  width : 100%;
}

.select-left:hover, .select-right:hover {
  cursor: pointer;
  border-width : 15px 14.5px 15px 15px;
  transition: all 0.3s;
}
.select-left, .select-right {
  width : 100%;
  height : 100%;
  padding : 20px;
  font-weight : 700;
  font-style: italic;
  background : rgba(24, 39, 138, 0.356);
  border-width : 1px 0.5px 1px 1px;
  border-color : rgb(65, 65, 65) ;
  border-style: solid;
  position :absolute;
  top : 0;
  left : 0;
  z-index : 10;
  transition: all 0.3s;
}
.select-img {
  position :absolute;
  width : 100%;
  bottom : 0;
  left : 0;
}
.login-modal form {
  display : flex;
  flex-direction: column;
}

.login-input {
  margin : 7px 0;
  width : 100%;
  height : 40px;
}